<%- include('partials/header') -%>


<!-- Header Logo -->
<section id="header-logo">
    <img id="logo-img" src="/images/logo.png" alt="">
 </section>




 <section class="laeb-div">

     <img  class="laeb" src="/images/fifa_world_cup_2022-mascotlaeeblogo-freelogovectors.net_-400x252.png" alt="">

 </section>
<!-- Header -->
<header id="header" class="bg-secondary">
 
 <!-- <section id="hayafooty">
     <h1>
         HayaFooty
     </h1>

</section> -->
 
 <section id="header-background">

         <!-- Qataer 2022 text -->
         <section class="qatar-text-div">
             <img class="qatar-word" src="/images/qatar-word.png" alt="">
         </section>
 

 </section>

 
</header>
    

<%- include('partials/footer') -%>