<%- include('partials/header') -%>


<main class="main-section">
   <section class="players-stats-column">
    <h1 class="section-title">Top Scorers</h1>

    <% for(let i = 0 ; i < playersStats.length ; i++){ %>
    
        <section class="player-section">
    
            <section class="player-inner-section">
                <h3 class="player-stat"><%= playersStats[i].player.name  %></h3>
                <h3 class="player-stat"><%= playersStats[i].goals %></h3>
            </section>
    
    
    
        </section>
    
    
    
    
    <%  }  %>

   </section>


   
   

</main>










<%- include('partials/footer') -%>

