<%- include('partials/header') -%>

<section class="burger-menu-logo">
    <i class="fa-solid fa-bars papaya"></i>
    <h1 class="site-logo papaya">HayaFooty</h1>
</section>


<aside class="sideBar ">
    <section class=" top-side-bar">
        <h1 class="site-logo" style="margin-top: 10px ;">HayaFooty</h1>

        <i class="fa-solid fa-xmark"></i>
    </section>
    
   <nav class="nav-section">
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/allTeams"><li>All Teams</li></a>
        <a href="/allMatches"><li>All Matches</li></a>
       <a href="/groups"><li>Groups</li></a> 
       <a href="/stats/topScorers"><li>Top Scorers</li></a> 

       <!-- <a href=""><li>Stats</li></a>  -->
      </ul>
   </nav>
    
</aside>
<main class="main-section">
   <section class="players-stats-column">
    <h1 class="section-title">Top Scorers</h1>

    <% for(let i = 0 ; i < playersStats.length ; i++){ %>
    
        <section class="player-section">
    
            <section class="player-inner-section">
                <h3 class="player-stat"><%= playersStats[i].player.name  %></h3>
                <h3 class="player-stat"><%= playersStats[i].goals %></h3>
            </section>
    
    
    
        </section>
    
    
    
    
    <%  }  %>

   </section>


   
   

</main>










<%- include('partials/footer') -%>

