@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Spice&family=Faster+One&family=Kaushan+Script&family=Libre+Barcode+39+Text&family=Merienda:wght@400;500;600;700&family=Mitr:wght@400;600;700&family=Modak&family=Montserrat+Subrayada:wght@700&family=Nabla&family=Parisienne&family=Passion+One&family=Poppins:ital,wght@0,400;0,500;0,700;1,700&family=Press+Start+2P&family=Righteous&family=Roboto&family=Russo+One&display=swap');
*, *::before , *::after{
    padding: 0;
    margin: 0;
    border: none;
}
.bg-primary {
    color: #811538 !important;

}

.purpleborder {
    border-bottom : 2px solid #811538 !important;

}
body {
    width: 100vw;
    background-image: url("/images/pattern.png");
    background-color: #811538 !important;
    background-repeat: repeat-y;
    
}
#header {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20rem;
    background: papayawhip;
    /* clip-path: polygon(0 0, 100% 0, 100% 60%, 51% 100%, 46% 100%, 0% 60%, 0 23%); */
    /* clip-path: polygon(49% 21%, 100% 0, 100% 60%, 51% 100%, 46% 100%, 0% 60%, 0 0); */
    /* clip-path: polygon(15% 41%, 88% 41%, 100% 0, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0 0); */
    /* clip-path: polygon(15% 41%, 88% 41%, 100% 48%, 100% 63%, 88% 68%, 14% 69%, 0 62%, 0 51%); */
    /* clip-path: polygon(12% 25%, 90% 25%, 100% 48%, 100% 63%, 90% 85%, 12% 85%, 0 62%, 0 51%); */
    /* clip-path: polygon(0 0, 50% 100%, 100% 0); */
    clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
    /* clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 100%, 0 50%); */
    /* clip-path: polygon(0 0, 50% 100%, 100% 0); */






}

#hayafooty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 180px;
    top: 0;
    left: 0;
    color: white;
    font-weight: 800;
    background-color: #811538 !important;
    background-image: url("/images/pattern.png");
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 71%);

    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 20px;
}

#hayafooty h1 {
    transform: rotate(5deg);
}


.main-section {
  display: flex;
  flex-direction: column;
}

.bg-secondary {
    /* background: #811538 !important; */
    /* background-color: #811538 !important; */
    background: white;
}

#header-background {
    width: 100%;
    height: 100%;
    /* background-image: url("/public/images/pattern.png"); */

}

#header-logo {
    position: absolute;
    z-index: 1000;
    left:30%;
    top: 100px;

}

#logo-img {
    height: 300px;
    filter: drop-shadow(5px 5px 30px #666666);
}

.qatar-text-div {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    /* right: 27%; */
    /* top: 150px; */
    top: 10px;
    left:35%; 
    /* transform: rotate(-18deg); */
    width: 30rem;

}

.qatar-word {

    width: 30rem;
    /* filter: drop-shadow(5px 5px 40px #666666); */


}


.laeb-div {
    position: absolute;
    z-index: 1000;
    top: 250px;
    left: 50px;
    transform: rotate(8deg);
}


.laeb {
    filter: drop-shadow(5px 5px 50px #666666);
    width: 100%;
    height: 100%;
}

.section-title {
    font-size: 50px;
    color:  papayawhip;
    font-family: 'Merienda', cursive;
    border-bottom : 2px solid papayawhip;
}


.marquee-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black;     */
    margin-top: 150px;
}

.marquee-container {
    margin-top: 50px;
    padding: 20px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(15, 1, 1, 0.316);
    border-top:2px solid papayawhip;
    border-bottom:2px solid papayawhip;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}


.teamsMarquee {
    background-color:transparent;
    display: flex !important;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
}


.teams-logos {
    display: flex;
}

.scrolling-crest {
    margin:  0 30px;
    width: 80px;
    height: 80px;
}

.current-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
    width: fit-content;
    /* margin: 120px auto; */
    margin: 0 auto;
    padding: 100px 0;
}


.current-stage h2  {
    margin-top: 50px;
    font-size: 30px;
    color: white;
    font-family: 'Merienda', cursive;
}


.next-fixures-section {
    background-color: papayawhip;
    text-align: center;
    background-image: url("/images/pattern.png");
    min-height: fit-content;
    padding-bottom: 50px;
}

.next-fixures-section h1 {
    width: fit-content;
    margin: 0 auto;
}
.next-fixures-section h2 {
    height: 100px;
}

.match-fixure {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #811538; */
    width: 600px;
    margin: 50px auto;
    height: 80px;
    font-family: 'Merienda', cursive;
    border-radius: 16px;
    background-color: papayawhip;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;
}

.fixure-crest {
    width: 30px;
    border-radius: 50%;
    margin: 0 10px;
}

.team1 , .team2 {
    display: flex;
     height: 100% !important;
     background-color: #811538;
    /* border: 1px solid papayawhip; */
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;
}
.team1 {
    border-radius: 16px 0 0 16px;
}

.team2 {
    border-radius: 0 16px 16px 0;
}
.team1 h3  , .team2 h3 {
    
    color: papayawhip;
     margin: 0 10px;
}

 .score {
    display: flex;
    justify-content: space-around;
    align-items: center;
        /* margin: 0 50px; */
    /* border: 1px solid purple; */
    width: 100%;
} 

/* .vs {
    margin: 0 50px;
} */
/* .score h3 {
 
    margin: 0 50px;
} */




@media all and (max-width : 1311px) {
    .qatar-text-div  , .qatar-word{
        width: 20rem;
    }
    .laeb-div {
      width: 280px;
    }
}


@media all and (max-width : 1059px) {
   .laeb-div {
    top: 280px;
   }
   #logo-img {
    height: 250px;
   }
}



@media all and (max-width : 928px) {
    .qatar-text-div  , .qatar-word{
        width: 20rem;
        left: 30%;
    }
}

@media all and (max-width : 718px) {

 .laeb-div {
    top: 300px;
    left: 20px;
   }

   .qatar-text-div  , .qatar-word{
    width: 20rem;
    left: 25%;
}
.match-fixure {
    width: 90%;

}

}


@media all and (max-width : 568px) {
    .laeb-div {
        width: 250px;
        left: 10px;
      }

}


@media all and (max-width : 496px) {
    .qatar-text-div  , .qatar-word{
        width: 15rem;
        left: 25%;
    }
    .laeb-div {
        top: 320px;
        left: 10px;
      }
  


@media all and (max-width: 464px) {
    .qatar-text-div  , .qatar-word{
        width: 15rem;
        left: 20%;
    }
    .laeb-div {
        top: 320px;
        left: 10px;
      }
   
    
 
}


@media all and (max-width : 402px) {
    .qatar-text-div  , .qatar-word{
        width: 15rem;
        left: 18%;
    }


}

@media all and (max-width : 362px) {
    .qatar-text-div  , .qatar-word{
        width: 13rem;
        left: 15%;
    }

    .fixure-crest{

        margin: 0 5px;
        
    
    }

   

     .section-title {
        font-size: 30px;
       
    }
}


@media all and (max-width : 302px) {
    
}